
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

body{
    background-image: url("/images/lollipopspieni.png");
    font-family: 'Quattrocento Sans', sans-serif;

}
.container {
    background-color: white !important;
    box-shadow: -5px 5px 5px 0px rgba(235,203,225,0.4), 5px 5px 5px 0px rgba(235,203,225,0.4);
    /*opacity: 95%; */
}
.card {
    display: inline-block;
    border-style: none;
}
.carousel {
    height:400px;
    margin-top: 25px;
    margin-bottom: 25px;
}
    
.carousel-item img {
    height:400px;
    object-fit: cover;
}

  
.fa-shopping-cart {
    color: black;
}




.btn {
    color: white;
    background-color: #E65959 !important;
    border-radius: 2px;
}
/* glowing effect for inputs and buttons */
.btn:focus {
    box-shadow: 0 0 5px rgba(230, 89, 89, 1) !important;
}

.form-control:focus {
    border-color: #E65959 !important;
    box-shadow: 0 0 5px rgba(230, 89, 89, 1) !important;
}

.fa-shopping-cart {
    font-size: 34.5px !important;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .carousel {
        height: 300px;
    }
    .carousel-item img {
        height:300px;
    }
    
  }
@media (max-width: 767px) {
  
    .carousel {
        display: none;
    }
    
  }
  .cartminheight {
      min-height: 415px;
  }

  .header {
      opacity: 100%;
  }
.result {
    font-weight: 600;
    font-size: 20px;
}
.cart-card {
    font-size: 18px;
}
.total_sum {
    margin-top: 75px;
    margin-bottom: 10px;
}
.btn-order {
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745;
    float: right;
    width: 100px;
    height: 50px;
}
.icon-color {
    color: #FFA07A;
}
span.required {
    color:#E65959;
}